/* Header and Section */
header, section {
  padding-top: 5rem;
}

/* Margins */
#my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

#mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Images utils */
.img-rounded {
  border-radius: 50% !important;
}
