/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,600');

/* Body */
body {
  font-family: 'Raleway', sans-serif !important;
}

/* Header and Section */
header, section {
  padding-top: 5rem;
}

/* Social Icons a color */
.social-icons a {
  color: black!important;
}

/* User Image */
.user-image {
  width: 140px;
  height: 140px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
