/* Header and Section */
header, section {
  padding-top: 5rem;
}

/* Social Icons a color */
.social-icons a {
  color: black!important;
}

/* User Image */
.user-image {
  width: 140px;
  height: 140px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
